<img src="/images/spceSub.png" id="imagespaceSub">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        
        <h2>Orders</h2>
        {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                <span class="badge" id="priceOrders">{{ this.price }}</span>
                                <a id="itemTitleO">{{ this.item.title }}</a> | <a id="itemQtyO">{{ this.qty }} Books</a> 
                            </li>
                            
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                </div>
            </div>
        {{/each}}
    </div>
</div>